* {
	list-style: none;
	margin: 0 auto;
	padding: 0;
}

body {
	background-color: #000000;
}

#wrap {
	width: 98%;
	margin: 0 auto;
}

#top {
	height: 44px;
	width: 100%;
	background-color: #282828;
}

#top ul {
	font: 16px/34px "";
}

#top ul.ul01 {
	float: left;
}

#top ul.ul02 {
	float: right;
}

#top ul li {
	float: left;
	color: #a4a4a4;
	text-align: center;
	margin: 5px;
}

#logo {
	height: 104px;
	width: 100%;
	background-color: #000;
	text-align: center;
	padding-top: 50px;
}

#nav {
	height: 60px;
	width: 100%;
	background-color: #000;
}

#nav ul {
	float: left;
	height: 20px;
	width: 440px;
	margin-left: 430px;
}

#nav ul li {
	float: left;
	color: #fff;
	text-align: center;
	margin: 0 18px;
}

#nav .shiyan {
	display: none;
}

#nav .shiyan a {
	display: block;
	color: #fff;
	font: 14px/40px "";
}

#nav .shiyan a:hover {
	color: #f99;
}

#nav .shiyan {
	width: 100px;
	text-align: left;
	padding: 14px;
	box-sizing: border-box;
	height: 300px;
	background: #000;
	position: absolute;
	z-index: 100;
	opacity: 0.7;
}

#nav .ding {
	position: relative;
}

#nav a .dian {
	display: inline-block;
	height: 58px;
	width: 56px;
	font: 16px "" ;
}





#dengluzhuce{height:572px;background-color: #FFF;}
#dengluzhuce #tou{height:35px;background-color: #FFF;}
#dengluzhuce #lianxi{text-align: center;height:60px;color:#000;border-top:2px solid #eaeaeb;border-bottom: 8px solid #eaeaeb;}

#dengluzhuce #lianxi span{font:16px/60px "";text-align: center;color:#000;}


#dengluzhuce #dlzc{float:left;height:286;width:100%;border-top:2px solid #eaeaeb;margin-top:4px;padding-top:66px;}
#dengluzhuce #dlzc h1{font-style:"微软雅黑";}
#dengluzhuce #dlzc input{height:30px;width:266px;}

#dengluzhuce #denglu{float:left;height:286px;width:45%;border-right:1px solid #eaeaeb;}

#dengluzhuce #newuser{float:left;height:286px;width:45%;padding-left:50px;}

#dengluzhuce #newuser h1{font:20px/40px "微软雅黑";}
#dengluzhuce #newuser p{font：12px/60px "";}
#dengluzhuce #newuser p a{font：16px/30px "";color: #000;}





#footer {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	width: 1215px;
	padding-top: 120px;
	margin: 0 0 80px 0;
}

#footer ul li {
	color: #fff;
	font: 12px/30px "";
}

#footer ul li img {
	height: 30px;
	width: 30px;
}

#yejiao {
	height: 88px;
	width: 100%;
}

#yejiao span {
	color: #fff;
	text-align: center;
	margin: 0 0 0 430px;
}

#yejiao p {
	color: #fff;
	text-align: center;
	font: 12px/20px "";
}
